@font-face {
    font-family: 'EA-Sport';
    src: url('font/EA Sports.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-light';
    src: url('font/Poppins-light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#filtres {
    margin-top: 100px;
    margin-left: 20px;
    font-family: 'poppins-light';
}

h5 {
    font-size: 14px;
    margin-bottom: 10px;
}

label, p, span{
    font-size: 12px;
    text-align: center;
}

p {
    margin-top: -2px;
    margin-left: 5px;
    margin-right: 5px;
}

span {
    margin-top: 10px;
}

.checkbox_filtres {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

#container_position {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.range_css{
    -webkit-appearance: none;
    width: 150px;
    height: 7px;
    background: #FE7700;
    cursor: ew-resize;
    border-radius: 1.5rem;
}

.range_css::-moz-range-thumb {
    border: 1px solid #ddd;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    box-shadow: 0 0 .125rem #aaa
}

.range_css::-moz-range-track {
    border: 3px solid transparent;
    padding: .5rem;
    height: 1rem;
    border-radius: 1.5rem;
    background: none
}

.range_css::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #FE7700;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: white;
}
