@font-face {
    font-family: 'EA-Sport';
    src: url('font/EA Sports.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-light';
    src: url('font/Poppins-light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#filtres {
    margin-top: 100px;
    margin-left: 20px;
    font-family: 'poppins-light';
}

h5 {
    font-size: 14px;
    margin-bottom: 10px;
}

label, p, span{
    font-size: 12px;
    text-align: center;
}

.checkbox_filtres {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

#container_position {
    display: flex;
    flex-direction: column;
    text-align: center;
}
