@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Poppins';
}

.container
{
    max-width: 1200px;
    margin: auto;
    margin-top:50px;
    padding-left: 25px;
    padding-right: 25px;
}
.row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2
{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 85%;
    padding: 50px;
}
.container2
{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
