@font-face {
    font-family: 'EA-Sport';
    src: url('font/EA Sports.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-light';
    src: url('font/Poppins-light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
}

#banner {
	background: white;
    margin-bottom: 30px;
	overflow: hidden;
}

@keyframes swipe {
    0% {
        margin-left: 0;
    }
    24% {
        margin-left: 0;
    }
    33% {
        margin-left: -100%;
    }
    57% {
        margin-left: -100%;
    }
    66% {
        margin-left: -200%;
    }
    90% {
        margin-left: -200%;
    }
    100% {
        margin-left: -300%;
    }
}

figure {
	margin: 0;
	width: 400%;
	animation: swipe 25s infinite;
    display: flex;
    flex-direction: row;
}

figure img {
	width: 25%;
	height: 400px;
	float: left;
}

#promotions {
	width: 100%;
}

h2 {
	font-size: 24px;
	text-align: center;
	margin-top: 20px;
	font-family: 'poppins';
	color: grey;
    padding: 5px;
    border-bottom: 1px solid grey;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
    background: #0e0078;
    color: white;
}

.trend_container {
    margin-top: 10px;
    padding: 25px;
    padding-top: 5px;
    margin-bottom: -30px;
}

.photos_produits {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 70%;
}

.photos_produits img {
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
}

.photos_produits a {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    font-family: 'poppins';
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.photos_produits h5 {
    font-family: 'poppins-light';
    color: red;
    font-size: 14px;
}

footer {
    background: #1c1b24;
    height: 50px;
    width: 100%;
    margin-top: 50px;
}
